.container {
  margin: 160px 0 100px 0;
  width: 100%;
  padding: 0 18px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.text {
  width: 50%;

  h2 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
  }

  p {
    font-size: 20px;
  }
}

.containerBanner {
  position: relative;
  height: 320px;
  width: 340px;
}

.banner {
  width: 100%;
  position: relative;
  object-fit: cover;
  border-radius: 4px;
}

// SERVICE AREA

.titleServices {
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 16px;
}

.services {
  display: flex;
  flex-direction: column;
  gap: 24px;

  .description {
    text-align: center;
    font-size: 24px;
    margin: 8px 0;
    transition: all .5s;
  }
}

.containerService {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 8px;
}
.containerService:hover {
  .imageService {
    transform: scale(1.2);
  }
  + .description {
    font-weight: bold;
  }
}

.imageService {
  object-fit: cover;
  border-radius: 8px;
  width: 280px;
  height: 350px;
  transition: all .5s;
}

// media queries

@media (max-width: 768px) {
  .content {
    flex-direction: column;
    width: 100%;

    .text {
      width: 100%;
      padding: 0 14px;

      h2 {
        text-align: center;
      }

      p {
        line-height: 120%;
      }
    }

    .containerBanner {
      width: 100%;
      margin-top: 22px;
    }
  }
}
